.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App__title {
  font-family: Impact;
  color: white;
  font-size: 2rem;
  text-shadow:
    -1px -1px #333,
    -1px 1px #333,
    1px -1px #333,
    1px 1px #333,
    3px 3px #333;
}

.App__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #CCC;
}

.App__main {
  flex: 1;
  display: flex;
}

.App__product-list-container {
  flex: 1;
  position: relative;
}

.App__product-list {
  position: absolute;
  width: 100%;
  min-width: 700px;
}

.App__cart {
  width: 300px;
  position: relative;
  background-color: #FFF;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}
